* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  scroll-behavior: smooth;
}

nav {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  background: linear-gradient(to right, #ed213a, #93291e);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-logo img {
  z-index: 2;
  display: flex;
  width: 80px;
  height: 80px;
}



.nav-links a {
  z-index: 2;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
}

.nav-links {
  z-index: 2;
  display: flex;
  justify-content: space-around;
  width: 50%;
}


/* LANDING PAGE  */

#headerHome {
  /* gets the image */
  /* we don't use % with width and height since it only covers the elements not the full size of the view port */
  /* height we use vh to cover the whole height of the current browser and make it resposnive */
  /* remove repetition of the background, size it to cover and position it in the center of the browser */
  background-image: url("/../assets/images/bg-redbull.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;  /* sets the main axis into vertical  */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-content {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;  /* sets the main axis into vertical  */
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2;
}

.header-content h3 {
  font-size: 1.4em;
}

.header-introduction-text {
  display: flex;
  flex-direction: column;  /* sets the main axis into vertical  */
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 40%;
  font-size: 1.2em;
}

.button {
  background-color: red;
  color: white;
  margin-top: 20px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
}

/* HIGHLIGHTS */

#section-highlights {
  background: linear-gradient(to right, #ed213a, #000000);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: -1;
}

.video {
  width: 90%;
  height: 50vh;
  margin: 20px;
  border: solid 2px black;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}

.highlights {
  color: white;
  width: 100%;
  height: 65vh;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlights h3 {
  font-size: 2.25em;
  letter-spacing: 3px;
  line-height: 3;
}

.highlights p {
  font-size: 1.4em;
}

/* sponsorship */

#sponsors {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#sponsors img {
  max-width: 150px;
  height: auto;

}

#sponsors h3 {
  display: flex;
  font-size: 2em;
  font-style: oblique;
  font-weight: 600;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.sponsors-img {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* SECTION RACES  */

#section-races {
  margin: 50px;
}

#section-races img {
  width: 20%;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1.5fr 0fr;
  grid-gap: 20px;
}

.box-a {
  grid-column: 1/3;
  grid-row: 1/3;
}

.box-b {
  padding-bottom: 5px;
}

.box-a:hover, .box-b:hover, .information-container:hover {
  transition: 0.5s;
  background-color: #26282A;
  color: white;
}




.box-races {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.4fr 0.6fr;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 5px 22px 4px;
}

.image-container {

}

.box-a .image-container {
  background-image: url("/../assets/images/fe-cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box-b .image-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 224px;
}

.img-bg01 {
  background-image: url("/../assets/images/news-cover01.jpg");

}

.img-bg02 {
  background-image: url("/../assets/images/news-cover02.jpg");

}

.img-bg03 {
  background-image: url("/../assets/images/news-cover03.jpg");

}

.img-bg04 {
  background-image: url("/../assets/images/news-cover04.jpg");
}

.information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
  font-size: 12px;
}

.information-container h3 {
  color: #ed213a;
  margin:0px;
  font-weight: 400;
  font-size:20px;
  line-height:90%;
  padding-left: 8%;
  padding-bottom:3%;
  border-radius:20px;
}

.information-container p {
  /* refrence interactive cards */
  font-weight: 400;
  font-size:15px;
  line-height:90%;
  padding-left: 8%;
  padding-right: 8%;
  padding-top:2%;
  padding-bottom:8%;
  border-radius:20px;
}

.image-container:hover {

}

/* section more news innit berv */

.grid-wrapper-news {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px 10px;
  margin: 40px;
}


.box-more-news {
  /* refrence box shadow */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.intro {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-right: 50px;
}
h2 {
  width: 15%;
  font-size: 2.2em;
}

.box-more-news p{
  color: black;
  font-weight: 400;
  font-size:15px;
  line-height:90%;
  padding-left: 8%;
  padding-right: 8%;
  padding-top:3%;
  padding-bottom:8%;
  border-radius:20px;
}

.box-more-news h3 {
  color: #ed213a;
  font-weight: 600;
  font-size: 1.6em;
  padding-left: 8%;
  padding-right: 8%;
  padding-top:3%;
  padding-bottom:2%;

}

.box-more-news img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

.large-line {
  height:2px;
  width:100%;
  margin:auto;
  background-color: black;
}

.line {
  height:3px;
  width: 90%;
  margin:auto;
  background-color: black;
}

.box-more-news:hover {
  transition: 0.5s;
  background-color: #26282A;

}

.box-more-news:hover .line{
  transition: 1s;
  background-color: #ed213a;
  width: 100%;
}

.box-more-news:hover p {
  color: white;
}





/* FOOTER */

/* inspired from "link the youtube video here" */
footer {
  background-color: #232526;
  width: 100%;
  height: 300px;
  color: white;
}

.footer-container {
  background-color: #232526;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-box {
  padding-bottom: 25px;
  padding-top: 10px;

}

.footer-box img {
  padding: 0px 5px 0px 5px;
}

.footer-box img:hover {
  transition: 0.5s;
  transform: scale(1.15);
}

.footer-container span {
  font-size: 1.4em;
  letter-spacing: 1.2px;
  padding: 0px 5px 0px 5px;
}

.footer-container span:hover {
  transition: 0.3s;
  color: #ed213a;
  border-bottom: 1px dotted #ed213a;
}

.large-line-red {
  height:2px;
  width:100%;
  margin:auto;
  background-color: #ed213a;
}



/*                 SECTION FOR NEWS PAGE             */

/* SLIDER */

.slider {
    height: 80vh;
    position: relative;
    z-index: -1;
}

.slider img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
}

.slider img.active {
    opacity: 1;
}

.suivant, .precedent {
    color: #fff;
    font-size: 6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.suivant {
    right: 1rem;
}

.precedent {
    left: 1rem;
}



.main-container-news {
  margin: 150px;
  height: auto;
  display: flex;
  flex-direction: row;
}

.container-news-a {
  width: 100%;

}

.container-news-a, .container-news-b {
  /* background-color: grey; */
}

.main-container-news > div:nth-child(odd){
  /* background-color: rgb(200, 200, 200); */
}

.box-news-row-a {
  padding-top: 10px;
  height: 200px;
  display: flex;

}

.img-box {
  z-index: -1;
  width: 40%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
}

.img-box img {
  z-index: -1;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.box-news-row-a:hover {
  transition: transform .5s ease;
}

.box-news-row-a:hover img {
  z-index: 1;
  transition: transform .5s ease;
  transform: scale(1.1);
}

.content-box {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  padding: 20px 50px 20px 50px;
}

.content-box h3, p {
  padding-bottom: 10px;
}


 /* CONTAINER ROW B */

 .container-news-b {
   padding-top: 10px;
   padding-left: 10px;
   width: 40%;
   display: flex;
   flex-direction: column;


 }

 .secondary-box.row-b{
   /* leave space between secondary boxes */
   margin-bottom: 10px;
   width: 100%;
   height: auto;
   min-height: 30%;
   /* border: 1px solid red; */
   display: flex;
   flex-direction: column;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25);
   background-color: #15151E;
   justify-content: center;

 }

 .secondary-box.row-b h3 {
    background-color: #ed213a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    letter-spacing: 1.2px;
    font-style: italic;
    font-weight: 500;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.5);
 }

/* LATEST NEWS  */

 .box-news.row-b {
  /* border: 1px solid black; */
  height: 100%;
  display: flex;
  flex-direction: column;
 }

 .card-news {
  background-color: #15151E;
  color: white;
  border: 1px solid grey;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
 }

 .card-news p {
   width: 100%;
   padding: 0px 5px 0px 5px;
 }


 /* RESULTS */
 .row-results .box-news.row-b {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #15151E;
   color: white;
 }

 .row-results img {
   width: 32px;
   height: 32px;
   display: flex;
   justify-content: center;
 }

 .row-results span {
   display: flex;
   justify-content: center;
  width: 20%;
 }


 .row-results .vertical-line-red {
   margin-left: 10px;
   margin-right: 10px;
 }

 .card-news:hover {
   transition: transform .2s ease;
   color: #ed213a;
 }

 .vertical-line-red {
   height: 100%;
   width: 1px;
   margin:auto;
   background-color: #ed213a;
 }


 /*                RANKING PAGE                 */

#section-ranking-table {
   display: flex;
   justify-content: center;
   align-items: center;
   margin:-75px 100px 10px 100px;
 }

/* styles the whole table */
#ranking-table {
  background-color: white;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border: 2px solid black;
}

/* styles rows  */
#ranking-table tr {
  /* border-bottom: 1px solid black;
  border-top: 1px solid black; */

}

#ranking-table tr:nth-child(odd) {
  background-color: grey;
}

/* styles each column */
#ranking-table td {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  height: 20px;
  text-align: center;
  height: 50px;

}

#ranking-table .img {
  width: 32px;
}

.table-header th {
  height: 60px;
}

.position {
  width: 5%;

}
